<%= form_for(@imdb) do |f| %>
  <% if @imdb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@imdb.errors.count, "error") %> prohibited this imdb from being saved:</h2>

      <ul>
      <% @imdb.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
